---
import ChikChakLogo from '../assets/chik-chak-content-marketing.png';
---

<nav class="flex justify-center">
  <a href="#home">
    <img
      src={ChikChakLogo.src}
      alt="Chik Chak Content Marketing"
      class="w-44 h-44 drop-shadow-xl"
      width={ChikChakLogo.width}
      height={ChikChakLogo.height}
    />
  </a>
</nav>
