---
import RoonyLogo from '../assets/roony-logo.png';
---

<nav class="flex justify-center">
  <a href="#home">
    <img
      src={RoonyLogo.src}
      alt="Roony's Logo"
      class="w-44 h-44 drop-shadow-xl"
      width={RoonyLogo.width}
      height={RoonyLogo.height}
    />
  </a>
</nav>
